body{
    background-color: rgb(21,21,21);
    color:white;
    padding-top: 100px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .cardBlock{
        display:inline-block;
    }
}