.backgroundImg{
    background-image: url("https://motionarray.imgix.net/preview-181114-Hic4n7rvqu-high_0000.jpg?w=660&q=60&fit=max&auto=format");
    height: 100px;
}

.colorText{
    color:white;
    font-size: 20px;
}

.dropDownColor{
    color:black;
    font-size: 15px;
}

.centerImg{
    position: absolute;
    top:15px;
    left: 42%
}
.favoritesBg{
    background-color: rgb(220,53,69);
    border-radius: 10px;
    margin: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
